{% extends 'base.html' %}
{% load bootstrap4 %}
{% block container %}

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/board/">게시판</a></h1>

        </div>
        <div id="user-tools">
            Welcome,
            <strong>{{request.session.user_id}}</strong>.
            <a href="{% url 'board:logOut' %}">Log out</a>
        </div>

    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        <a href="{% url 'board:list' %}">Home</a>
        &rsaquo; <a href="{% url 'board:list' %}">Articles</a>
        &rsaquo; Write
    </div>

    <!-- Content -->
    <div id="content" class="colM">

        <h1>자유게시판</h1>
        <br>
        <div id="content-main">

            <form action="{% url 'board:create' %}" method="post" id="article_form" novalidate>
                {% csrf_token %}
                <div>
                    {% bootstrap_form article_form %}
                    <div class="submit-row">

                        <input type="submit" value="Save" class="default" name="_save">
                        <input type="button" value="List" class="default" name="_list" onclick="location.href='{% url 'board:list' %}'">

                    </div>

                    <script type="text/javascript"
                            id="django-admin-form-add-constants"
                            src="/static/admin/js/change_form.js"
                    >
                    </script>

                    <script type="text/javascript"
                            id="django-admin-prepopulated-fields-constants"
                            src="/static/admin/js/prepopulate_init.js"
                            data-prepopulated-fields="[]">
                    </script>

                </div>
            </form></div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

{% endblock %}
