{% extends 'base_list.html' %}
{% load bootstrap4 %}
{% block container %}
<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/board/">BBS(Bulletin Board System)</a></h1>
        </div>


       <div id="user-tools">
            Welcome,
            <strong>{{request.session.user_id}}</strong>.
            <a href="{% url 'board:logOut' %}">Log out</a>
        </div>


    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        <a href="/">Home</a>
        &rsaquo; Articles
    </div>


    <!-- Content -->
    <div id="content" class="flex" >
        <h1>자유게시판</h1>
        <h6>자유롭게 글을 작성할 수 있습니다.</h6>
        <div id="tools">
            <div id="content-main">
                <ul class="object-tools">
                    <li>
                        <a href="{% url 'board:create' %}" class="addlink">
                            글쓰기
                        </a>
                    </li>
                </ul>

                <div class="module" id="changelist">
                    <form id="changelist-form" method="post" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="HWy41Tizt6OKP1g1mo5gDVXMSkAaeKkER7aUFqSVnhXAFI6kLM07SJH7I9vxW443">
                        <div id="result_list_th">
                            <table>
                                <thead>
                                <tr>
                                    <th>글번호</th>
                                    <th>글제목</th>
                                    <th>작성자</th>
                                    <th>작성일자</th>
                                    <th>조회수</th>
                                    </th>
                                </tr>
                                </thead>
                                {% for article in article_list %}
                                <tbody>

                                <tr class="row1">
                                <td>{{article.id}}</td>
                                <td><a href="{% url 'board:detail' article.id %}">{{article.title}}</a></td>
                                <td>{{article.writer}}</td>
                                <td>{{article.write_date|date:'Y-m-d H:i'}}</td>
                                <td>{{article.click_num}}</td>

                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

{% endblock %}
